:root {
    --background-color-light: #fff;
    --text-color-light: #222;
    --button-background-light: #4CAF50;
    --button-text-light: white;

    --background-color-dark: #222;
    --text-color-dark: #fff;
    --button-background-dark: #4CAF50;
    --button-text-dark: white;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    text-align: center;
}

.lotto-number {
    font-size: 3rem;
    margin: 20px 0;
}

#draw-button, #theme-toggle {
    background-color: var(--button-background-light);
    color: var(--button-text-light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
}

body.dark-mode #draw-button, body.dark-mode #theme-toggle, body.dark-mode .container button {
    background-color: var(--button-background-dark);
    color: var(--button-text-dark);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

form label {
    align-self: flex-start;
    margin-bottom: -5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't increase total width */
    background-color: var(--background-color-light); /* Inherit from theme */
    color: var(--text-color-light); /* Inherit from theme */
}

body.dark-mode form input[type="text"],
body.dark-mode form input[type="email"],
body.dark-mode form textarea {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    border: 1px solid #555;
}

form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}
