:root {
    --background-color-light: #fff;
    --text-color-light: #222;
    --button-background-light: #4CAF50;
    --button-text-light: white;

    --background-color-dark: #222;
    --text-color-dark: #fff;
    --button-background-dark: #4CAF50;
    --button-text-dark: white;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    text-align: center;
}

.lotto-number {
    font-size: 3rem;
    margin: 20px 0;
}

#draw-button, #theme-toggle {
    background-color: var(--button-background-light);
    color: var(--button-text-light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
}

body.dark-mode #draw-button, body.dark-mode #theme-toggle {
    background-color: var(--button-background-dark);
    color: var(--button-text-dark);
}
